In [87]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

## WEB SCRAPPING 1 
url = https://www.ourdailydose.net/

In [88]:
def get_features(url):
    r = requests.get(url)
    soup = BeautifulSoup(r.content, 'html.parser')
    try :
        all_dict['Name'].append(soup.find('span',class_ = "base").text)
    except :
        all_dict['Name'].append(np.nan)
    
    try :
        all_dict['Price'].append(soup.find('span', class_ = "price").text)
    except :
        all_dict['Price'].append(np.nan)
    
    try :
        all_dict['Color'].append(soup.find('td', {'data-th':'Color'}).text)
    except :
        all_dict['Color'].append(np.nan)
        
    try :
        all_dict['Brand'].append(soup.find('td', {'data-th':'Brand'}).text)
        
    except :
        all_dict['Brand'].append(np.nan)
    
    try :
        all_dict['Gender'].append(soup.find('td', {'data-th':'Gender'}).text)
    except :
        all_dict['Gender'].append(np.nan)

In [107]:
all_dict = {
    'Link' : [],
    'Name' : [],
    'Price' : [],
    'Color' : [],
    'Gender' : [],
    'Brand' : []
}

In [108]:
for page in range(1,3):
    
    url = 'https://www.ourdailydose.net/kids/footwear.html?p={}'.format(page)
    r = requests.get(url)
    soup = BeautifulSoup(r.content, 'html.parser')
    items = soup.find_all('li',class_ = "item product product-item")
    
    for item in items:
        all_dict['Link'].append(item.find('a')['href'])

In [111]:
for page in range(1,11):
    
    url = 'https://www.ourdailydose.net/men/footwear.html?p={}'.format(page)
    r = requests.get(url)
    soup = BeautifulSoup(r.content, 'html.parser')
    items = soup.find_all('li',class_ = "item product product-item")
    
    for item in items:
        all_dict['Link'].append(item.find('a')['href'])

In [114]:
for page in range(1,7):
    
    url = 'https://www.ourdailydose.net/women/footwear.html?p={}'.format(page)
    r = requests.get(url)
    soup = BeautifulSoup(r.content, 'html.parser')
    items = soup.find_all('li',class_ = "item product product-item")
    
    for item in items:
        all_dict['Link'].append(item.find('a')['href'])

In [109]:
for link in all_dict['Link'][0:]:
    get_features(link)

In [112]:
for link in all_dict['Link'][13:]:
    get_features(link)

In [115]:
for link in all_dict['Link'][123:]:
    get_features(link)

In [116]:
for key, val in all_dict.items():
    print(key)
    print(len(val))

Link
184
Name
184
Price
184
Color
184
Gender
184
Brand
184

In [139]:
df = pd.DataFrame(all_dict)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184 entries, 0 to 183
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Link    184 non-null    object
 1   Name    184 non-null    object
 2   Price   184 non-null    object
 3   Color   182 non-null    object
 4   Gender  184 non-null    object
 5   Brand   184 non-null    object
dtypes: object(6)
memory usage: 8.8+ KB
None

In [140]:
display(df.head())

,Link,Name,Price,Color,Gender,Brand
0,https://www.ourdailydose.net/suede-garfield-ps...,SUEDE GARFIELD PS DARK CHEDDAR-CELANDINE,"Rp 999,000",Black,Kids,Puma
1,https://www.ourdailydose.net/leadcat-2-0-garfi...,LEADCAT 2.0 GARFIELD PS PUMA BLACK-ZINNIA,"Rp 459,000",Black,Kids,Puma
2,https://www.ourdailydose.net/nike-dunk-low-ps-...,NIKE DUNK LOW (PS)-MIDNIGHT NAVY/GAME ROYAL-BLACK,"Rp 899,000",Blue,Kids,Nike
3,https://www.ourdailydose.net/adidas-superstar-...,ADIDAS SUPERSTAR 360 C-CORE BLACK,"Rp 1,100,000",Black,Kids,Adidas
4,https://www.ourdailydose.net/nike-dunk-hi-gs-w...,NIKE DUNK HI (GS)-WHITE/MIDNIGHT NAVY-ELECTRO ...,"Rp 1,329,000",Purple,Kids,Nike

## Data Preprocessing

In [141]:
# price column format.
df['Price'] = df['Price'].str.replace('Rp', '')
df['Price'] = df['Price'].str.replace(',', '')
df['Price'] = df['Price'].str.replace(',', '').str.strip()
df['Price'] = df['Price'].astype('int64')

In [142]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184 entries, 0 to 183
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Link    184 non-null    object
 1   Name    184 non-null    object
 2   Price   184 non-null    int64
 3   Color   182 non-null    object
 4   Gender  184 non-null    object
 5   Brand   184 non-null    object
dtypes: int64(1), object(5)
memory usage: 8.8+ KB
None

In [146]:
print("Gender :")
print(df["Gender"].unique())
print("Color :")
print(df["Color"].unique())
print("Brand :")
print(df["Brand"].unique())

Gender :
['Kids' 'Men' 'Unisex' 'Men, Women' 'Women']
Color :
['Black' 'Blue' 'Purple' 'Navy' 'White' 'Brown' 'Silver' 'Multi' 'Grey'
 'PECAN/SAIL' 'WHITE/ROYAL BLUE' 'Red' 'Green' 'Khaki' nan 'Olive' 'Mauve'
 'Orange' 'Yellow' 'Pink' 'Metallic Silver' 'Plum' 'Soft Blue' 'Maroon']
Brand :
['Puma' 'Nike' 'Adidas' 'Vans' 'Asics']

In [147]:
df["Color"] = df["Color"].str.title()

In [148]:
print("Color :")
print(df["Color"].unique())

Color :
['Black' 'Blue' 'Purple' 'Navy' 'White' 'Brown' 'Silver' 'Multi' 'Grey'
 'Pecan/Sail' 'White/Royal Blue' 'Red' 'Green' 'Khaki' nan 'Olive' 'Mauve'
 'Orange' 'Yellow' 'Pink' 'Metallic Silver' 'Plum' 'Soft Blue' 'Maroon']

In [150]:
df.to_csv("DailyDoseWebScrapping.csv")

## WEB SCRAPPING 2